body {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(45deg, #e5e5e5, white, #e5e5e5, white);
    height: 100vh;
    background-size: 300%;
    animation: bg-animation 40s infinite;
    animation-timing-function: linear;
}

@keyframes bg-animation {
    0% {background-position: left;}
    50%{background-position: right;}
    100% {background-position: left;}
}

body input {
    display: none;
}

#main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.title-container {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 5% 0 0 0;
    font-size: 1.5rem;
    box-shadow: 6px 6px 4px #BABABA;
    background-color: #fbfbfb;
    border-radius: 12px;
    user-select: none;
}

.title-container:hover {
    text-decoration-line: underline;
}

.title-container:active {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 4px #BABABA;
    background-color: #cdcdcd;
}

#game-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones-inicio {
    width: 100vh;
    display: flex;
    justify-content: center;
    gap: 5%;
}

#botones-inicio input:checked + label {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 4px #BABABA;
    background-color: #cdcdcd;
}

.regular-button {
    box-shadow: 6px 6px 4px #BABABA;
    cursor: pointer;
    background-color: #fbfbfb;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    user-select: none;
    transition-duration: 100ms;
    border: none;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 600;
    font-style: normal;
}

.boton-regular {
    width: 135px;
}

.boton-siguiente {
    width: 300px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1rem;
}

.boton-siguiente:active {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 4px #BABABA;
    background-color: #cdcdcd;
}

.regular-button:hover {
    text-decoration-line: underline;
}

.boton-sigu-reg {
    width: 150px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1rem;
}

.boton-sigu-reg:active {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 4px #BABABA;
    background-color: #cdcdcd;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.2rem;
}

.gap-ver {
    gap: 10px;
}

.gap-hor {
    gap: 15px;
}

#choose-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones-elegir-mapa {
    display: flex;
    flex-direction: column;
}

#botones-elegir-mapa div {
    display: flex;
}

#botones-elegir-mapa input:checked + label {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 4px #BABABA;
    background-color: #cdcdcd;
}

#contenedor-btn-sigu-maps {
    display: flex;
    gap: 5px;
}

#map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor-mapas-pract {
    width: 200%;
    height: 100%;
    margin: 0px 0;
    overflow: hidden;
}

svg path {
    fill: #ffffff;
    stroke: black;
    stroke-width: 0.50;
}

svg path:hover {
    fill: #BABABA;
}

.tam-oceania {
    scale: 300%;
    transform: translate(-290px, -120px);
}


#mapa-prueba {
    margin-top: 20px;
    width: 50%;
}
